<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vmail inbox page</title> 
    <link rel="stylesheet" type="text/css" href="/css/inbox.css">

    </head>
<body>
  <div class="wrapper">
    <%- include('../common/header') %>
    <div><h2>Vmail</h2></div>
    <div id="allhave">
      <div class="side_menu">
        <div class = "pages" id ="inbox_link"><a href="/inbox">Inbox</a></div>
        <div class = "pages" id ="outbox_link"><a href="/outbox">Outbox</a></div>
        <div class = "pages" id ="compose_link"><a href="/compose">Compose</a></div>
        <div id="notice">NOTICE!!! The checkboxes to delete emails will not function, I will implement that function in near future</div>
      </div>
      <div id="listOfInbox">
        <div id="inbox_label">
          
          <div id="Sender_label"><strong>Sender</strong></div>
          <div id="Subject_label"><strong>Subject</strong></div>
          <div id="Time_label"><strong>Received time</strong></div>
        </div>
        <% inboxes.forEach((mail)=> { %>
          <div class="mails">
            
            <div class="checkBox">
              <input type="checkbox" id="checkBox">
            </div>
            <div id="n_s_t">
              <div class="sender_name">
                <%= mail.sender %>
              </div>
              <div class="subject">
                <a href="/email_detail/<%= mail.emailId %>"><%= mail.subject %></a>
              </div>
              <div class="rec_time">
                <div id="time"><%= mail.received_time %></div>
              </div>
            </div>
            
          </div>
          <% }) %>
          <div class="pagination">
            <% if (currentPage > 1) { %>
                <a href="/inbox?page=<%= currentPage - 1 %>">&laquo;</a>
            <% } %>
    
            <% for (let i = 1; i <= totalPages; i++) { %>
                <a href="/inbox?page=<%= i %>" class="<%= i === currentPage ? 'active' : '' %>">
                    <%= i %>
                </a>
            <% } %>
    
            <% if (currentPage < totalPages) { %>
                <a href="/inbox?page=<%= currentPage + 1 %>">&raquo;</a>
            <% } %>
        </div>
      </div>
      
    </div>
  </div>
</body>
</html>